.pokemons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.pokemon {
  margin: .5rem;
  padding: 1rem;
  background-color: #49D0B0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.pokemon .detail img {
  border-style: none;
  max-width: 100%;
  height: 100px;
  align-self: self-end;
  height: 70px;
}

.pokemon .number{
  color: #000;
  opacity: 0.3;
  text-align: right;
  font-size: .625rem;
}

.pokemon .name{
  color: #fff;
  margin-bottom: .25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types .type {
  background-color: #61E1CA;
  color: #fff;
  padding: .25rem .5rem;
  margin-bottom: .25rem;
  font-size: .82rem;
  border-radius: 1rem;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px){
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px){
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}